header{
    box-sizing: border-box;
    font-family: sans-serif;
}
body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
}
.pimg1{
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image: url('../img/bg-1.jpg');
    min-height: 90%;
}

/* x` */

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    color: #666;
    padding: 20px 0px 0px 0px ;
}

.section-dark{
    background: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    letter-spacing: 2.5px;
}
h2{
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0px 20px 100px;
    z-index: 100000;
}
header .logo{
    position: relative;
    font-family: sans-serif;
    font-weight: 12px;
    color:#000000;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.6s;
}
header.sticky{
    padding: 0px 20px ;
    background: #000000;
    opacity: 0.8;
}
header ul{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
header  ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a{
    color: #ffffff;
}


.chinese{
    background-color:rgb(169, 164, 168) ;
    text-decoration: none;
    font-size: 12px;
    
}
.japanese{
    background-color: rgb(169, 164, 168);
    text-decoration: none;
    font-size: 12px;
    margin-left: 10px;
}
.btn-a{
    width: 250px;
    margin: 0 auto;
}
.btn{
    padding: 2px 40px;
    color: white;
    display:inline-block;
    opacity: 0.7;
    border-radius: 8px;
}
.btn:hover{
    opacity: 1;
}
.footer{
    font-size: 9px;
    padding: 15px;
    align-self: center;
}
@media(max-width: 500px){
    .pimg1{
        background-attachment: scroll;
    }
}